---
layout: default
nav-item: true
order: 1
---
<header class="flex flex-xxs-column flex-lg-row">
    <div class="flex__block-xs flex flex--center">
        <h1 class="title">SpeedDial</h1>

    </div>
    <div class="flex__block-xs flex flex--center u-p-md">
        <figure data-role="app-image " class="shadow" style="max-height: 500px;">
            <img src="./assets/images/dialpad.jpg" height="500px" alt="">
        </figure>
    </div>
</header>

<section class="flex u-p-md  flex-xxs-column flex-lg-row">
    <div class="flex__block-xs flex flex--center u-p-xl">
        <h2>Work Faster</h2>
    </div>
    <div class="flex__block-xs flex flex--center u-p-xl text--center">
        {% include cta.html %}
    </div>
</section>

<section class="flex flex--center u-p-xl">
    <h3 class="text--center">
        SpeedDial enables you to bookmark your favorite apps in your menu bar and jump to them instantly
    </h3>
</section>

<section class="o-demo flex flex--column flex--center u-p-xl">
    <figure data-role="app-image" class="o-demo__app flex shadow--small" >
        <img src="./assets/images/dialpad.jpg" height="250px" alt="">
    </figure>

    <div class="flex__block-xs flex flex--center shadow">
        {% include svg/desktop.svg %}
    </div>

    <div class="flex flex--center  u-p-lg ">
        <h2 id="demo-label" data-role="demo-label" class="o-demo__label">⌘ + 7</h2>
    </div>
</section>

<section class="flex flex--center u-p-xl">
    <h3 class="text--center">
        I want to help everyone work faser and if you want to sign up to join the
        closed beta click below :)
    </h3>
</section>

<section class="flex flex--center u-p-xl">
    <div class="flex__block-xs flex flex--center u-p-xl">
        {% include cta.html %}
    </div>
</section>
