// Global colors
$white: #ffffff !default;
$white-transparent: rgba(255,255,255,0.6) !default;
$gray-lighter: #ECEFF1 !default;
$gray-dark: #37474F !default;
// $green: #00C853;
$red: #E26364;
$blue: #0CC3E6;
$green: #57AB99;
